.SchoolInformation p {
    font-size: 1.25rem;
    margin-bottom: 0;
    font-weight: 500;

    span {
        display: block;

        &.years {
            font-weight: 400;
            font-style: italic;
        }
    }
}