// Height Utility Classes
/*
    Dependencies:
    nav-height: found in settings

    x = Property shorthand: rh for min-height (responsive), sh for (strict) height, mh for (max) max-height.
    y = Breakpoint size: xs, sm, md, lg, xl, xx, mx - xs excludes #{y} and is written as #{x}-#{z}.
    z = Height of row: number in the range of 1-12 - represents the portion of the view height using a base of 12.

    property: property type choosen by $heigthProperty
    value: css calc of height minus a portion of the nav

    .#{x}-#{y}-#{z} {
        #{property}: #{value}
    }
*/

$nav-height: 58px;

// Size map based off of bootstrap breakpoints with larger extensions (Could be updated to use bootstraps scss breakpoints variable by using default)
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xx: 1600px,
    mx: 1920px
);

@mixin height-classes ($heightProperty, $base) {
    $rowBase: $base;
    @while $rowBase > 0 {
        $rowPercent: $rowBase / $base;
        // $navAccommodation: $nav-height - ($nav-height * $rowPercent);
        $navAccommodation: ($nav-height * $rowPercent);
        $rowHeight: calc(#{$rowPercent * 100}vh - #{$navAccommodation});

        &#{$rowBase} {
            #{$heightProperty}: $rowHeight;
        }

        @each $breakpoint, $size in $breakpoints {
            @media only screen and (min-width: $size) {
                &-#{$breakpoint}-#{$rowBase} {
                    #{$heightProperty}: $rowHeight;
                }
            }
        }

        $rowBase: $rowBase - 1;
    }
}